In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:
Job_multi = "resources/job_list_multi.csv"
Job_single = "resources/job_list_single.csv"

In [78]:
Job_multi_df = pd.read_csv(Job_multi)
Job_single_df = pd.read_csv(Job_single)
Job_single_df.head(5)
Job_multi_df.head(5)

,job_title,company_name,location,summary
0,Data Analyst,Tetra Tech Inc.,"Chico, CA",The successful candidate will have extraordina...
1,Data Analyst (SQL and JavaScript skills),Webhelp Americas,"San Jose, CA•Temporarily Remote",Strong grasp on data structure and data integr...
2,Data Analyst I,Computershare,United States•Remote,1 year of experience in data analysis or the a...
3,Healthcare Quality Data Informatics Analyst,Clinical Management Consultants,"Long Beach, CA",Data abstraction will be utilized to pull conf...
4,Data Analyst,OBMedia,"Los Angeles, CA•Remote",You will have contributed to ongoing company e...

In [79]:
Job_single_df.columns

Index(['job_title', 'company_name', 'location', 'summary'], dtype='object')

In [80]:
Job_single_df = Job_single_df.rename(columns={'job_title': 'Job Title', 'company_name': 'Company', 'location': 'City_California', 'summary': 'Description'})
Job_single_df.head()

,Job Title,Company,City_California,Description
0,Business Systems Analyst,DiversityX,"Los Angeles, CA","Ability to elicit, gather and analyze data.\nW..."
1,Data Analyst I,Computershare,United States•Remote,1 year of experience in data analysis or the a...
2,Healthcare Quality Data Informatics Analyst,Clinical Management Consultants,"Long Beach, CA",Data abstraction will be utilized to pull conf...
3,Data Analyst needed ASAP!!,AppleOne,"Folsom, CA 95630","?Bachelor's degree in mathematics, accounting ..."
4,YMCA CSS Research & Data Analyst,YMCA of San Diego County,"San Diego, CA",Develop and maintain data dictionaries and oth...

In [81]:
Job_single_df.columns

Index(['Job Title', 'Company', 'City_California', 'Description'], dtype='object')

In [83]:
Job_single_df.City_California.unique()

array(['Los Angeles, CA', 'United States•Remote', 'Long Beach, CA',
       'Folsom, CA 95630', 'San Diego, CA', 'San Jose, CA', 'Burbank, CA',
       'Riverside, CA', 'Irvine, CA 92614 (Business District area)',
       'Los Angeles, CA•Remote', 'Merced, CA 95340', 'Stanford, CA',
       'Chatsworth, CA 91311', 'San Marcos, CA 92096'], dtype=object)

In [88]:
Job_single_df_list = ['Los Angeles, CA', 'Long Beach, CA','Folsom, CA 95630', 'San Diego, CA', 'San Jose, CA', 'Burbank, CA', 'Riverside, CA', 'Irvine, CA 92614 (Business District area)', 'Merced, CA 95340', 'Stanford, CA', 'Chatsworth, CA 91311', 'San Marcos, CA 92096']

In [93]:
Job_single_data = Job_single_df[Job_single_df.City_California.isin(Job_single_df_list)]

,Job Title,Company,City_California,Description
0,Business Systems Analyst,DiversityX,"Los Angeles, CA","Ability to elicit, gather and analyze data.\nW..."
2,Healthcare Quality Data Informatics Analyst,Clinical Management Consultants,"Long Beach, CA",Data abstraction will be utilized to pull conf...
3,Data Analyst needed ASAP!!,AppleOne,"Folsom, CA 95630","?Bachelor's degree in mathematics, accounting ..."
4,YMCA CSS Research & Data Analyst,YMCA of San Diego County,"San Diego, CA",Develop and maintain data dictionaries and oth...
5,TikTok LIVE Data Analyst,TikTok,"Los Angeles, CA",Assist in creating data best practices and doc...
6,Data Analyst (Full Time) United States,Cisco Systems,"San Jose, CA",Assess the effectiveness and accuracy of new d...
7,"Analyst, Data & Reporting",Disney Streaming Services,"Burbank, CA",1-3 years of equivalent experience as an analy...
8,Junior Data Analyst,Dental Views,"Riverside, CA","Creates actionable insights and understanding,..."
9,Data Analyst -Recent Graduate,Goodman Manufacturing Company,"Irvine, CA 92614 (Business District area)",Handle all data entry of purchase orders for e...
11,Programmer Analyst I/II,"Merced County, CA","Merced, CA 95340",Frequent use of data entry device including re...
12,Research Data Analyst,Stanford University,"Stanford, CA",Determine additional data collection and repor...
13,Jr. Data Analyst,Health Advocates,"Chatsworth, CA 91311","Job responsibilities include: preparing daily,..."
14,"Gift Processing and Data Analytics Specialist,...",California State University San Marcos Corpora...,"San Marcos, CA 92096",The Specialist is also responsible for assisti...